{
    "cipher_key": "83657ea6ffa1e671375c689a2e99a598",
    "aes_xor_key": "1069d88738c5c75f82b44a1f0a38276d",
    "game_path": "%ProgramFiles(x86)%\\Steam\\steamapps\\common\\Lost Ark\\EFGame",
    "output_path": "./output",
    "exe_paths": [
        {
            "is_enabled": false,
            "path": "%ProgramFiles(x86)%\\Steam\\steamapps\\common\\Lost Ark\\Binaries\\Win64\\LOSTARK.exe",
            "args": ["-launch_from_dev_launcher", "-AuthKey="],
            "launch_method": {
                "monitor": "0x10000"
            }
        }
    ]
}